/* Navbar */
#navbar {
    position: fixed;
    margin-top: 10px;

    display: flex;
    align-items: center;
    justify-content: space-around;

    width: min(60vw, 650px);
    height: 60px;

    border-radius: 6vh;
    border-color: white;
    border-width: 1px;
    border-style: solid;

    inset: 0;
    margin-right: auto;
    margin-left: auto;
    padding: 0.5vw;

    z-index: 99;

    transition: all 0.5s;

    background-color: rgba(0,0,0, 0.15);
    backdrop-filter: blur(100px);
}

/* Without margin right, the center bar won't look very centered.*/
#navbar > #centerbar {
    display: flex;
    gap: min(2vw,10px);
    margin-right: 5%;
}

#navbar > #centerbar > button > a {
    font-size: 17px;
    font-weight: bold;
}

button {
    border: none;


    color:white;
    background-color: transparent;
}

#mini {
    display: none;
}

#special {
    background-color: var(--spurple);
    width: 100px;
    border-radius: 100px;
    height: 35px;
}

#navbar > #special > a:visited { text-decoration: none; color: white;}
#navbar >#special>  a { text-decoration: none; color: inherit;}
#navbar >#special>  a:link { text-decoration: none;}
#navbar >#special>  a:hover { text-decoration: none;}
#navbar >#special> a:active { text-decoration: none;}

#navbar >#centerbar> button > a:visited { text-decoration: none; color: white;}
#navbar >#centerbar> button > a { text-decoration: none; color: inherit;}
#navbar >#centerbar> button > a:link { text-decoration: none;}
#navbar >#centerbar> button > a:hover { text-decoration: none;}
#navbar >#centerbar> button > a:active { text-decoration: none;}

/* Container */
/* Videos are weird when it comes to scaling*/
/* It works and I don't know why*/
.container{
    width: 87%;
    height: 70%;
    overflow: hidden;
    
    margin: auto;
    z-index: 5;
    position: relative;

    border-radius: 20px;
    border-color: var(--spurple);
    border-style: solid;
    border-width: 1px;
}

.introduction { /* Component for media exclusively for the container */
  position: relative;
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  z-index: -1;

  user-select: none;

}

.overlay {
  position: absolute;
  z-index: 20;
  width: 100%;
  height: 100%;

  background-image: linear-gradient(to bottom, transparent 10%, black 90%);

}

.heading {
    position: absolute;
    font-size: 5vw;
    color: white;

    font-family: Teko;
    font-weight: bold;

    z-index: 60;

    top: 58%;
    left: 2%;
}

.subheading {
    position: absolute;
    font-size: 2.3vw;
    color: white;

    font-family: Teko;
    font-weight: 100;

    width: 37vw;

    z-index: 60;

    top: 70%;
    left: 2.5%;
}

[class*=learn] {
    position: absolute;

    font-family: Teko;
    font-size: 3vmin;

    border-radius: 10px;

    width: 17vw;
    height: 6vw;

    margin-left: 1.5%;
    top: 84%;
    left: 1%;
    z-index: 60;

    background-color: #e02fff;

    text-decoration: none;
}

[class*=learn] > a {
    font-family: Teko;
    font-weight: bold;
    font-size: 2.5vw;
    text-decoration: none;
}

[class*=learn] > a:visited {text-decoration: none;}
[class*=learn] > a:link {text-decoration: none; color: inherit;}
[class*=learn] > a:active {text-decoration: none;}
[class*=learn] > a:visited {text-decoration: none;}


/* Game Cards */
.gameCard{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 31%;
    height: 15vw;
    
    border-color: var(--spurple);
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;

    background-image: linear-gradient(to bottom, #202020,black);

    

    overflow: hidden;
    z-index: 60;
    transition: all 0.1s linear;
}

.gamesGrid > div > img {
    display: inline-block;
    object-fit: cover;
    scale: 0.5;
    
}

/* Shop Cards */
.shopCard {
    border-color: var(--spurple);
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;

    background-image: linear-gradient(to bottom, #202020,black);

    width: 350px;
    height: 550px;

}

[class*="item"] {
    color: white;

    margin-left: 5%;

    font-family: Teko;
}

.itemImg {
    overflow: hidden;
    border-radius: 20px;

    margin-left: 1.5%;
    margin-top: 2%;

    width: 340px;
    height: 250px;
}

.itemName {
    margin-top: 5%;
    font-size: clamp(25px,2vw, 30px);
    font-weight: bold;
}
  
.itemCategory {
    font-size: clamp(17px,2vw,23px);
    margin-top: 25%;
}

.itemImg > img {
    border-radius: 20px;

    object-fit: fill;

    width: 97%;
    height: 100%;

    transition: all 0.2s ease-in-out;
}

.price {
    color: var(--spurple);
    margin-left: 5%;
    font-weight: bold;
    font-size: clamp(30px,3vw, 35px);
}

/* Shop Filters */
.shopButton {
    margin-left: clamp(100px,7vw, 120px);

    position: relative;

    width: 180px;
    height: 70px;

    font-size: 3vmin;
    font-weight: bold;

    border-radius: 20px;

    background-color: #2753e7;
}

.shopButton > a { font-family: Teko;}

.right {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 100px;

    width: 50px;
    height: 50px;

    font-size: 5vmin;
    color: rgb(255, 253, 253);

    background-color: #2753e7;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;

    border-radius: 100px;

    font-size: 5vmin;
    color: rgb(255, 255, 255);

    background-color: #2753e7;
} 

/* Event Cards */
.eventCard {
    width: 350px;
    height: 350px;
    overflow: hidden;

    z-index: 5;
    position: relative;

    border-radius: 20px;
    border-color: var(--spurple);
    border-style: solid;
    border-width: 1px;
}

.statement {
    position: absolute;
    z-index: 50;

    width: clamp(300px,25vw, 340px);
    padding-left: 10px;

    font-weight: bold;
    font-size: clamp(17px, 1.4vw, 20px);
    text-align: start;
    font-family: Teko;

    overflow-wrap: break-word;

    top: 75%;
    color: white;


}

/* Schedule Cards */

.scheduleCard{
    display: inline-block;
    color: white;

    background-image: linear-gradient(to bottom, #202020,black);

    border-radius: 20px;
    border-color: var(--spurple);
    border-width: 1px;
    border-style: solid;
}

.scheduleCard > .cardHead{
    display: flex;
    gap: 130px;
    justify-content: center;

    width: 400px;

    margin-bottom: 30px;
}

.scheduleCard > .cardHead > .gameTag{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    width: 145px;
    height: 40px;

    border-radius: 20px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
}

.scheduleCard > .cardHead > .times{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;


    background-color: rgb(88, 88, 88);
    width: 145px;
    height: 40px;

    border-radius: 20px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
}

.scheduleCard > .cardBody{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 400px;

    margin-bottom:20px;
}

.scheduleCard > .cardFoot{
    width: 400px;
    word-wrap: break-word;
    text-align: center;
    text-wrap: wrap;
    padding-bottom: 10px;
}

.scheduleCard > .cardFoot > div:nth-of-type(1){ /*.team doesn't work for some reason*/
    display: inline-flex;
    align-items: center;
    background-color: var(--spurple);

    border-radius: 20px;
    height: 30px;
}


.scheduleCard > .cardFoot > div:nth-of-type(2){ margin: 5px;} 

.scheduleCard > .cardFoot > div:nth-of-type(3){
    display: inline-flex;
    align-items: center;
    background-color: rebeccapurple;

    border-radius: 20px;
    height: 30px;
}

#Overwatch{background-color: #FA9C1D;}

/* Footer Content */
.copyright{
    text-align: center; 
    color: white; 
    margin-top: 30px;
}

.footer > a > button{
    border: none;
    border-radius: 50px;

    width: 30px;
    height: 30px;

    background-color: var(--otherblue);
    color: white;

    font-size: 3vmin;
    scale: 1.5;
}

.footer > a > .twitch{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--twitch);
}

.footer > a > .instagram{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--instagram);
}

.footer > a > .twitter{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(39, 34, 34);
}


.footer > a > button > img{
    width: var(--iconsize);
    height: var(--iconsize);

    filter:invert();
}

/* Titles */
.title{
    position: relative;
    display: inline;
    font-size: xxx-large;
    color: white;

    font-family: Teko;
    font-weight: bold;


    user-select: none;

    z-index: 10;
}

/* Values (about me) */
.values {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 130px;

    color: white;
}

.valueTitle {
    font-family: Teko;
    font-weight: bold;
    font-size: 6vmin;
}

.valueIcon {
    scale: 0.6;
}

.valueDesc {
    width: 250px;
    text-align: center;
}

/* Filter */
.filter > button {
    border-radius: 500px;

    width: 70px;
    height: 70px;

    margin-bottom: 100px;
    margin-top: 30px;

    background-color: brown;
}