/* Grids */
.gamesGrid{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: auto;

    width: min(90vw, 1100px);
    gap: 20px;

    margin-bottom: 130px;
    z-index: 1;
}

.gamesGrid > div:nth-child(1):hover{ background-image: linear-gradient(to bottom, #202020,#b02b2c);}
.gamesGrid > div:nth-child(2):hover{ background-image: linear-gradient(to bottom, #202020,#ff1e00);}
.gamesGrid > div:nth-child(3):hover{ background-image: linear-gradient(to bottom, #202020,#66a3a3);}


.gamesGrid > div:nth-child(4) > img{  scale: 0.1; }
.gamesGrid > div:nth-child(4):hover{  background-image: linear-gradient(to bottom, #202020, #0f1822);}


.gamesGrid > div:nth-child(5) > img{  scale: 0.3; }
.gamesGrid > div:nth-child(5):hover{  background-image: linear-gradient(to bottom, #202020, #FA9C1D);}


.gamesGrid > div:nth-child(6) > img{  scale: 0.3; }
.gamesGrid > div:nth-child(6):hover{ background-image: linear-gradient(to bottom, #202020, #1e88e5);}

/* Shop Grid. */
/* Rule 1 about shop related sliders. DO NOT PUT JUSTIFY CONTENT TO CENTER!*/
.shopGrid {
    margin: auto;
    scroll-behavior: smooth;
    overflow-x: hidden;

    height: 600px;
    width: 85%;
    gap:20px;
    padding-left: 10px;
}

.slider {
    display: flex;
    align-content: center;
    gap:20px;
    transition: all 0.3s;
}



/* Shop Filter */

.shopFilter {
    display: flex;
    justify-content: end;
    gap: 40px;

    margin: auto;

    height: 60px;
    width: 77vw;

}

/* Filter */
.filter {
    display: flex;
    justify-content: center;
    gap: 5vw;

    margin-top: 50px;
}

/* News */
.eventGrid { 
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
    width: 100%;
    gap: 2vw;

}

.eventSlider { 
    display: flex;
    justify-content: center;
    gap: 2vw;

}

/* Schedule */
.scheduleGrid { 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    gap: 20px;
    width: 100%;
}

.scheduleSlider { 
    display: flex;
    justify-content: center;
    gap: 2vw;
}

/* Sponsors */
.sponsorGrid {
    display: flex;
    justify-content: center;
    gap: 20px;

    margin-top: 50px;
}

/* Follow us (Footer) */
.footer {
    position: relative;
    display: flex;
    justify-content: center;
    gap:40px;

    margin-top: 30px;


    z-index: 9;
}

/* Values grid */
.valueGrid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
}

.socialMedia {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    width: 100%;
}