/* spurple = second purple if you were wondering*/
:root {
    --spurple: #e02fff;
    --secondary: #333333;
    --otherblue: #2753e7;
    --iconsize: 20px;
    --twitch: #6441A4;
    --instagram: #dd2a7b;  
}