@font-face {
    font-family: regular;
    src: url("fonts/font.otf");
}

/* second purple if you were wondering*/
:root {
    --spurple: #e02fff;
    --secondary: #333333;
    --otherblue: #2753e7;
    --iconsize: 20px;
    --twitch: #6441A4;
    --instagram: #dd2a7b;  
}

*{font-family: regular;}

body {margin: 0;  background-color: black }

h1 {
font-size: 2vmin;
transition: all 0.5s;
}



/* Navbar */
.navbar {
    position: relative;
    display: flex;
    align-items: center;

    height: 69px;

    background-color: transparent;

    gap: 2vw;

    padding-left: 100px;
    padding-right: 200px;

    z-index: 9;

    
}

.navbar > button {
    font-size: 2.5vmin;

    border: none;

    background-color: transparent;
    color: white;

    transition: all 0.2s;
}

.navbar > button:hover {
    border-bottom: 2px solid var(--spurple);
}

.navbar > #special {

    background-color: var(--spurple);

    border-radius: 20px;
    width: 50px;
    margin-left: auto;
}

.navbar > button > a:visited { text-decoration: none;}
.navbar > button > a { text-decoration: none; color: inherit;}
.navbar > button > a:link { text-decoration: none;}
.navbar > button > a:hover { text-decoration: none;}
.navbar > button > a:active { text-decoration: none;}

/* Title */
.title{
    display: inline;
    font-size: 5vmin;
    color: white;

    border-bottom: 3px solid var(--spurple);
}

/* Schedule Grid */
/* Sell Us Section */
.sellus {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap:30px;

    margin-top: 60px;
}

/* Follow us (Footer) */
.footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:10px;

    margin-top: 30px;
}

.copyright{
    text-align: center; 
    color: white; 
    margin-top: 30px;
}

.footer > a > button{
    border: none;
    border-radius: 20px;

    width: auto;
    height: auto;

    background-color: var(--otherblue);
    color: white;

    font-size: 3vmin;
}

.footer > a > .twitch{
    background-color: var(--twitch);
}

.footer > a > .instagram{
    background-color: var(--instagram);
}

.footer > a > .twitter{
    background-color: rgb(39, 34, 34);
}


.footer > a > button > img{
    width: var(--iconsize);
    height: var(--iconsize);

    filter:invert();
 }

/* Article Card */

.articleCard{
    background-color: var(--secondary);

    color: white;

    height: 313px;
    border-radius: 20px;
}

.articleCard > .articleImg{
    width: 400px;
    height: 270px;

    background-image: url("images/happy.png");
    background-size:cover;
    background-repeat: no-repeat;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.articleCard > .articleDesc {
    width: 400px;

    word-wrap: break-word;
    text-align: center;
    text-wrap: wrap;
}

/* Video Card */

.videoCard{
    background-color: var(--secondary);

    color: white;

    height: 313px;
    border-radius: 20px;
}

.videoCard > .videoImg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 270px;

    background-image: url("images/happy.png");
    background-size:cover;
    background-repeat: no-repeat;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.videoCard > .videoImg > button{
    display: flex;
    align-items: center;
    justify-content: center;
    
    border: none;
    border-radius: 50%;

    width: 50px;
    height: 50px;

    color: white;
    background-color: var(--spurple);
}

.videoCard > .videoDesc {
    width: 400px;

    word-wrap: break-word;
    text-align: center;
    text-wrap: wrap;
}

/* Banner */
.mostRecent{
    display: inline-block;
    width: 70vw;
    height: 300px;
    
    background-image: url("images/happy.png");
    background-size: cover;
    background-repeat: no-repeat;

    margin-top: 30px;

    border-radius: 20px;

}

 /* Team Filter Buttons */
 .filterMembers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:10px;

    margin-top: 30px;
}

.filterMembers > button{
    border: none;
    border-radius: 20px;

    width: auto;
    height: auto;

    background-color: var(--otherblue);
    color: white;

    font-size: 3vmin;
}

/* Iframes */
.socialMedia {
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}