@font-face {
    font-family: regular;
    src: url("fonts/font.otf");
}

@keyframes glow {
    0%{box-shadow: 0px 7px 8px -3px var(--spurple);}

    50%{box-shadow: 0px 7px 2px -3px var(--spurple);}

    100%{box-shadow: 0px 7px 8px -3px var(--spurple);}
}


/* second purple if you were wondering*/
:root {
    --spurple: #e02fff;
    --secondary: #333333;
    --otherblue: #2753e7;
    --iconsize: 20px;
    --twitch: #6441A4;
    --instagram: #dd2a7b;  
}

*{font-family: regular;}

body {margin: 0;  background-color: black }

h1 {
font-size: 2vmin;
transition: all 0.5s;
}



/* Navbar */
.navbar {
    position: sticky;
    display: flex;
    align-items: center;

    height: 69px;

    background-color: transparent;

    gap: 3vw;

    padding-left: 100px;
    padding-right: 200px;

    z-index: 20;

    top: 0;
    
}

.navbar > button {
    font-size: 2.5vmin;

    border: none;

    background-color: transparent;
    color: white;

    transition: all 0.2s;
}

.navbar > button:hover {
    border-bottom: 2px solid var(--spurple);
}

.navbar > #special {

    background-color: var(--spurple);

    border-radius: 20px;
    width: 50px;
    margin-left: auto;
}

.navbar > button > a:visited { text-decoration: none;}
.navbar > button > a { text-decoration: none; color: inherit;}
.navbar > button > a:link { text-decoration: none;}
.navbar > button > a:hover { text-decoration: none;}
.navbar > button > a:active { text-decoration: none;}
/* Videos */
/* Videos are weird when it comes to scaling*/
/* It works and I don't know why*/
.container{
    width:auto;
    height: 50%;
    overflow: hidden;
    transform: translateY(-70px);

    z-index: -2;
    position: relative;
    background-image: linear-gradient(to bottom, transparent 1%, black);

}

video {
    position: relative;
    object-fit: cover;     
    width: 100%;
    height: 600px;

    z-index: -2;
}

/* Games */
.title{
    position: relative;
    display: inline;
    font-size: 5vmin;
    color: white;

    user-select: none;

    box-shadow: 0px 1px 7px -5px var(--spurple);

    z-index: 10;

    animation: glow 3s linear 0s infinite;
}

center{position: relative; z-index: 10;}
center:nth-of-type(1){ transform: translateY(-55px);}
center:nth-of-type(2){ transform: translateY(-200px);}
center:nth-of-type(3){ transform: translateY(20px);}

.gamesGrid{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    margin: 0 auto;
    margin-top: -150px;

    overflow: hidden;

    transform: translateY(-70px);
    z-index: 1;
    height: 700px;
}

.gamesGrid > div{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 400px;
    height: 200px;
    background-color: var(--secondary);

    border-radius: 20px;

    margin: -15px;

    overflow: hidden;
    z-index: 60;
    transition: all 0.1s linear;

    scale: 0.8;
}

.gamesGrid > div > img {
    display: inline-block;
    object-fit: cover;
    scale: 0.5;
}

.gamesGrid > div:nth-child(1):hover{ background-color: #b02b2c;}
.gamesGrid > div:nth-child(2):hover{ background-color: #ff1e00;}
.gamesGrid > div:nth-child(3):hover{ background-color: #66a3a3;}


.gamesGrid > div:nth-child(4) > img{  scale: 0.1; }
.gamesGrid > div:nth-child(4):hover{ background-color: #0f1822;}


.gamesGrid > div:nth-child(5) > img{  scale: 0.3; }
.gamesGrid > div:nth-child(5):hover{  background-color: #FA9C1D;}


.gamesGrid > div:nth-child(6) > img{  scale: 0.3; }
.gamesGrid > div:nth-child(6):hover{ background-color: #1e88e5;}

/* Sell Us Section */
.sellus {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;

    margin-top: -230px;
    height: 500px;
}

.sellus2 {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    gap:10px;

    height: 500px;

    margin-top: 50px;
}

.sellus2 > div{position: relative; z-index: 2;}
.sellus > div:nth-child(2) {transform: translateY(-50px);}
.sellus > div {scale: 0.9}

/* Schedule Cards */

.scheduleCard{
    display: inline-block;
    color: white;

    width: 400px;
    height: 313px;

    background-color: var(--secondary);

    border-radius: 20px;

    z-index: 9;
}

.schedule {
    width: 400px;
    height: 270px;

    background-image: url("images/schedule.jpg");
    background-size:cover;
    background-repeat: no-repeat;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.scheduleCard > .cardHead{
    display: flex;
    gap: 50px;
    justify-content: center;

    width: 400px;

    margin-bottom: 50px;
}

.scheduleCard > .cardBody{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 400px;

    margin-bottom: 50px;
}

.scheduleCard > .cardFoot{
    width: 400px;
    word-wrap: break-word;
    text-align: center;
    text-wrap: wrap;

    font-size: 4vmin;
}

/* Shop Cards */
.shopCard{
    display: inline-block;
    color: white;

    width: 400px;
    height: 315px;
    border-radius: 20px;

    background-color: var(--secondary);

    z-index: 9;
}

.shopCard > .itemFoot{
    display: flex;
    gap: 300px;
    justify-content: center;
    align-items: center;

    width: 400px;

    font-size: 4vmin;

    margin-bottom: 5px;


}

.shopCard > .item{
    width: 400px;
    height: 270px;

    background-image: url("images/t-shirt.jpg");
    background-size:cover;
    background-repeat: no-repeat;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

/* Community */

.community{
    background-color: var(--secondary);

    color: white;

    height: 313px;
    border-radius: 20px;

    z-index: 9;
}

.community > .comImage{
    width: 400px;
    height: 270px;

    background-image: url("images/happy.png");
    background-size:cover;
    background-repeat: no-repeat;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;


}

.community > .comDesc {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 4vmin;
}

/* Follow us (Footer) */
.footer {
    position: relative;
    display: flex;
    justify-content: center;
    gap:40px;

    margin-top: 30px;


    z-index: 9;
}

.copyright{
    text-align: center; 
    color: white; 
    margin-top: 30px;
}

.footer > a > button{
    border: none;
    border-radius: 50px;

    width: 30px;
    height: 30px;

    background-color: var(--otherblue);
    color: white;

    font-size: 3vmin;
    scale: 1.5;
}

.footer > a > .twitch{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--twitch);
}

.footer > a > .instagram{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--instagram);
}

.footer > a > .twitter{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(39, 34, 34);
}


.footer > a > button > img{
    width: var(--iconsize);
    height: var(--iconsize);

    filter:invert();
 }

 /* Article Card */

.articleCard{
    background-color: var(--secondary);

    color: white;

    height: 313px;
    border-radius: 20px;
}

.articleCard > .articleImg{
    width: 400px;
    height: 270px;

    background-image: url("images/happy.png");
    background-size:cover;
    background-repeat: no-repeat;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.articleCard > .articleDesc {
    width: 400px;

    word-wrap: break-word;
    text-align: center;
    text-wrap: wrap;
}

/* Video Card */

.videoCard{
    background-color: var(--secondary);

    color: white;

    height: 313px;
    border-radius: 20px;
}

.videoCard > .videoImg{
    width: 400px;
    height: 270px;

    background-image: url("images/happy.png");
    background-size:cover;
    background-repeat: no-repeat;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.videoCard > .videoImg > button{

    margin: 47%;

}

.videoCard > .videoDesc {
    width: 400px;

    word-wrap: break-word;
    text-align: center;
    text-wrap: wrap;
}



/* Post Procssing*/
.gradient1{
    position: absolute;

    background: 
    radial-gradient(circle, black 50%, transparent 10%) repeat,
    radial-gradient(circle, black 40%, transparent 0%) repeat;

    background-size: 20px 20px;
    background-position:0 0, 10px 10px;
    
    mask-image: linear-gradient(to bottom,transparent,black 90%);

    width: 100%;
    height: 80px;

    z-index: -1;

    transform: translateY(-190px);
}

.gradient2 {
    position:absolute;

    background: 
    radial-gradient(circle, black 50%, transparent 10%) repeat,
    radial-gradient(circle, black 40%, transparent 0%) repeat;

    background-size: 20px 20px;
    background-position:0 0, 10px 10px;
    mask-image: linear-gradient(to top, transparent, black);

    width: 100%;
    height: 150px;
    transform: translateY(-280px);

}

.gradient3 {
    position: absolute;

    background: 
    radial-gradient(circle, black 50%, transparent 10%) repeat,
    radial-gradient(circle, black 40%, transparent 0%) repeat;

    background-size: 20px 20px;
    background-position:0 0, 10px 10px;
    
    mask-image: linear-gradient(to bottom,transparent,black 90%);

    width: 100%;
    height: 220px;

    transform: translateY(-130px);
}

.gradient4 {
    position:absolute;

    background: 
    radial-gradient(circle, black 50%, transparent 10%) repeat,
    radial-gradient(circle, black 40%, transparent 0%) repeat;

    background-size: 20px 20px;
    background-position:0 0, 10px 10px;
    mask-image: linear-gradient(to top, transparent, black);

    width: 100%;
    height: 150px;
    transform: translateY(30px);

}

.gradient5 {
    position: absolute;

    background: 
    radial-gradient(circle, black 50%, transparent 10%) repeat,
    radial-gradient(circle, black 40%, transparent 0%) repeat;

    background-size: 20px 20px;
    background-position:0 0, 10px 10px;
    
    mask-image: linear-gradient(to bottom,transparent,black 90%);

    width: 100%;
    height: 220px;

    transform: translateY(-100px);
}

.gradient6 {
    position:relative;

    background: 
    radial-gradient(circle, black 50%, transparent 10%) repeat,
    radial-gradient(circle, black 40%, transparent 0%) repeat;

    background-size: 20px 20px;
    background-position:0 0, 10px 10px;
    mask-image: linear-gradient(to top, transparent, black);

    width: 100%;
    height: 150px;
    transform: translateY(-100px);
    z-index: 2;

}

.gradient7 {
    position: relative;

    background: 
    radial-gradient(circle, black 50%, transparent 10%) repeat,
    radial-gradient(circle, black 40%, transparent 0%) repeat;

    background-size: 20px 20px;
    background-position:0 0, 10px 10px;
    
    mask-image: linear-gradient(to bottom,transparent,black 90%);

    width: 100%;
    height: 220px;

    transform: translateY(-200px);

    z-index: 3;
}
