/* Navbar element */
/* Just remember that there is no gap propery becasue justify content does the majority of that work */
#navbar {
  display: flex;

  margin-top: 10px;

  justify-content:space-around;
  align-items: center;

  width: 97vw;
  height: 50px;
  gap: 200px;

}

.logo {
  width: 190px;
  height: 50px;

  flex-shrink: 0;

  background-color: var(--default-green);
}

.navbuttons {
  display: flex;
  
  gap: 30px;
}

.navbuttons > button {
  border: none;
  color: var(--dark-green);
  background-color: transparent;
}

.navbuttons > button > a ,.navbuttons > button > a:visited {color: inherit; text-decoration: none;}
/* ------------------------------------- */


/* Global Interactable elements */
button {
  border-radius: 100px;
  border: none;

  width: 150px;
  height: 50px;

  background-color: var(--default-green);
  color: var(--calm);

  white-space: nowrap;

  flex-shrink: 0;
}
/* ------------------------------------- */

/* Global texzt elements */
p, span { font-size: 40px;}

h1 {font-size: 60px}

.heading {
  font-weight: bold; 
  width: 50%; 
}
/* ------------------------------------- */

/* Images */
.container {
  overflow: hidden;
  width: 600px;
  height: 400px;

  z-index: 1;

  border-style: solid;
  border-color: var(--default-green);
  border-width: 3px;
}

.container > img {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/* ------------------------------------- */

/* The element that contains all text in the green section*/
.aboutblock {
  max-width: 550px;
}
/* ------------------------------------- */


/* Header Element */
.header { 
  text-align: left;
  color: var(--dark-green);
  font-size: 90px;
  margin-left: 20px;

}

.description {
    color: var(--dark-green);
    font-size: 25px;
    text-align: left;
    width: 55%;
    margin-left: 30px;
    margin-top: 10px;
}
/* ------------------------------------- */

/* Card */

.card {
  display: flex;
  width: 302px;
  padding-right: 90px;
  justify-content: center;
  flex-direction: column;
}

.icon {
  width: 150px;
  height: 150px;
  margin:auto;
}

.icon > img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.title {
  text-align: center;
  text-wrap: wrap;
  width: 100%;
  font-size: 25px;
  font-weight: bold;
  color: var(--dark-green);
}

.arrow {
  position: relative;
  padding-left: 85%;
  width: 40px;
  height: 40px;
}

.arrow > img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* ------------------------------------- */

/* Profile Card */

.profilecard {
  position: relative;
  width: 300px;
  height: 500px;
  border-radius: 20px;
}

.profilepic {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.profilepic > img {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.name {
  display: inline;
  position: absolute;
  z-index: 2;

  font-weight: bold;
  font-size: 50px;

  text-align: left;

  padding-left: 20px;
  margin-top: 330px;
  color: var(--calm);
}

.position {
  display: inline;
  position: absolute;
  z-index: 2;
  font-size: 30px;

  text-align: left;

  padding-left: 30px;
  margin-top: 390px;
  color: var(--calm);
}

.infobutton {
  position: absolute;
  font-size: 30px;
  left: 20px;
  z-index: 2;
  margin-top: -60px;
  width: 250px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 20px;
  background-image: linear-gradient(to bottom, transparent 8%, var(--dark-green) 92%);
}
/* ------------------------------------- */

/* Grids */
.grid {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  margin-top: 50px;
  gap: 30px;
}
 
.grid > .card:nth-child(3n) {
  border-right: none;
}

.grid > .card {
  border-right: 3px solid black;
}
/* ------------------------------------- */

/* Sliders */
.cardslider {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: center;
  gap: 20px;
}
/* ------------------------------------- */

/* Form */

.contactus {
  display: flex;
  gap: 80px;
  margin-top: 50px;
}

form {
  margin-left: 30px;
  gap: 15px;
  display: flex;
  flex-direction: column;
}

input, textarea {padding-left: 10px;} /* Just to move placeholders and text */

input[type='text'] {
  width: 500px;
  border: none;
  height: 50px;
  border-radius: 10px;
  color: var(--calm);
  background-color: var(--default-green); 
}

input::placeholder, textarea::placeholder {
  color: var(--calm);
}

textarea {
  max-width: 500px;
  min-height: 200px;
  border-radius: 10px;
  color: white;
  margin-top: none;
  padding-top: 10px;
  background-color: var(--default-green);
}

iframe {
  width: 600px;
  height: 360px;
  border: 0;
  border-radius: 20px;
  border-color: var(--default-green);
  border-style: solid;
  border-width: 3px;
}
/* ------------------------------------- */
