.container:nth-of-type(2) {margin-bottom: 150px; top: 50px;}

/* Just for centering reasons, all headings and buttons will be 100% width */
.heading {
    display: flex;
    justify-content: center;
    align-items: center;

    top: 0%;
    left: 0;

    width: 100%;
    height: 100%;
}

.subheading {
    
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: xx-large;
    text-align: center;

    width: 100%;
    height: 100%;

    top: 10%;
    left: 0;
}


/* Because the responsive css is for the homepage specifically. I will put this here for the other pages */
@media (width <= 1000px) {

    .heading {
        margin-top: -25%;
        left: 0;
    }

    .subheading {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-top: -20%;
        margin-left: 15%;
    }

    
}

/* Filter Members*/
.filterMembers {
    display: flex;
    justify-content: center;
    gap: 10vw;
    margin-bottom: 30px;
}

.filterMembers > button {
    width: 15vw;
    height: 3vw;

    border-radius: 100px;

    font-size: 2vmin;
    background-color: var(--otherblue);
}

/* Social Media */
.socialMedia {
    display: flex;
    justify-content: center;
    gap: 20px;
}
