body{
    background-color: #1c1729;
    /*background-image: linear-gradient(to top, #1c1729, #33235d);*/
    background-attachment: fixed; /*this is so that the gradient does not duplicate and scrop with the page*/
}

/* Header */
.Logo {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #1c1729;
    padding: 20px;
    border-bottom: 0.5px solid white;
    image-rendering: pixelated;
    animation: extend 1s ease 0s;
}

.kobiLogo {  
    display: block; /* So that the image can be treated like a div */
    width: 150px;
    margin: auto;
    scale: 2;
}
/* ------------------------------------------------------------------- */

/* Text */
p {
    text-align: center;
    color: white;
    font-size: large;
    font: 2em Arial, sans-serif;
    animation: appear 0.7s ease 0s 1;
}
/* ------------------------------------------------------------------- */

/* buttons */
button {
    font-weight: bold;
    color: white;
    background-color: transparent;
    border-color: white;
    border-style: solid;
    border-radius: 12px;
    border-width: 1px;
    width: 200px;
    transition: background-color 0.5s, color 0.5s, border-color 0.5s, box-shadow 0.5s; /* transitions only happen when these values change*/
    animation: appear 0.7s ease 0s 1;
}

button:hover {
    box-shadow: 0px 3px;
    background-color: white;
    color: rgb(80, 74, 74);
    border-color: black;
}

.nut{
    display: block;
    margin: auto;
    scale: 4;
}

.buttonRow {
    padding-left: 200px;
}

.buttonRow > button {
    margin: auto;
    scale: 3;
}

.buttonRow :first-child {
    margin-right: 450px;
    margin-bottom: 70px;
}

.itchButton {
    margin-top: 70px;
}

.itchButton > a > button {
    display: block;
    margin: auto;
    width: 20%;
    scale: 4;
}

.Limbo {
    margin-top: 50px;
}
.Limbo > img {
    border-radius: 10px;
    height: 100px;
    width: 100%;
}
/* ------------------------------------------------------------------- */

/* Links */
a {
    text-decoration: none; /* So that no underlines or text interupting any buttons or icons. */
}

.gamesSection{
    padding: 50px;
}

.socialMedia {
    height: 50px;
    text-align: center;
    margin: 25px;
}

.socialMedia > a {
    transition: font-size 0.5s;
}

.socialMedia > a:hover {
    font-size: large;
}

.socialMedia > a:visited{
    color: rgb(61, 150, 177);
}
/* ------------------------------------------------------------------- */

/* Animations */
@keyframes extend {
    from {width: 0%;}
    to {width: 97%;}
}

@keyframes appear {
    0% {transform: translateY(50%);opacity: 0;}
    to{transform: translateY(0%); opacity: 1;}
}
/* ------------------------------------------------------------------- */
