.container:nth-of-type(2) {margin-bottom: 150px; top: 50px;}
center:nth-of-type(1) { margin-bottom: 50px;} 
center:nth-of-type(2) { margin-bottom: 50px;} 
center:nth-of-type(3) { margin-top: 100px;} 
center:nth-of-type(4) { margin-top: 100px;} 
.heading {margin-top: 0;}