@font-face {
    font-family: regular;
    src: url("fonts/font.otf");
}


/* second purple if you were wondering*/
:root {
    --spurple: #e02fff;
    --secondary: #333333;
    --otherblue: #2753e7;
    --iconsize: 20px;
    --twitch: #6441A4;
    --instagram: #dd2a7b;  
}

*{font-family: regular;}

body {margin: 0; background-color: black }

h1 {
font-size: 2vmin;
transition: all 0.5s;
}



/* Navbar */
.navbar {
    position: sticky;
    top: 10px;

    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 69vw;

    border-radius: 100px;
    border-color: white;
    border-width: 1px;
    border-style: solid;

    margin: auto;

    gap: 10vw;

    z-index: 99;

    background-color: rgba(0,0,0, 0.15);
    backdrop-filter: blur(100px);
}

/* Without margin right, the center bar won't look very centered.*/
.navbar > .centerbar {
    margin-right: 5%;
}

.navbar > .centerbar > button > a {
    font-size: 2.5vmin;
    font-family: Teko;
    font-weight: bold;
}

button {
    border: none;


    color:white;
    background-color: transparent;
}

#special {
    background-color: #e02fff;
    width: 100px;
    border-radius: 100px;
    height: 35px;
}

.navbar >.centerbar> button > a:visited { text-decoration: none;}
.navbar >.centerbar> button > a { text-decoration: none; color: inherit;}
.navbar >.centerbar> button > a:link { text-decoration: none;}
.navbar >.centerbar> button > a:hover { text-decoration: none;}
.navbar >.centerbar> button > a:active { text-decoration: none;}

/* Videos */
/* Videos are weird when it comes to scaling*/
/* It works and I don't know why*/
.container{
    width: 95%;
    height: 75vh;
    overflow: hidden;
    
    margin: auto;
    top: -15px;

    z-index: 5;
    position: relative;

    border-radius: 20px;
    border-color: #e02fff;
    border-style: solid;
    border-width: 1px;
}

.container:nth-of-type(2) {margin-bottom: 75px;} /* specific layout page specific*/

.introduction {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;

}

.overlay {
  position: absolute;
  z-index: 20;
  width: 100%;
  height: 100%;

  background-image: linear-gradient(to bottom, transparent 10%, black 90%);

}

.heading {
    position: absolute;
    font-size: 7vmin;
    color: white;

    font-family: Teko;
    font-weight: bold;

    z-index: 60;

    top: 60%;
    left: 1%;
}

.subheading {
    position: absolute;
    font-size: 3.3vmin;
    color: white;

    font-family: Teko;
    font-weight: 100;

    width: 37vw;

    z-index: 60;

    top: 72%;
    left: 1.5%;
}

[class*=learn] {

    font-family: Teko;
    font-size: 3vmin;

    border-radius: 10px;

    width: 15vw;
    height: 7vh;

    z-index: 60;
}

[class*=learn] > a {
    font-family: Teko;
    font-weight: bold;
}


.container > .learn:nth-of-type(1) { /* specific layout page spefic */
    position: absolute;

    background-color: #e02fff;

    top: 65vh;
    left: 1%;
}


/* Games */
.title{
    position: relative;
    display: inline;
    font-size: 5vmin;
    color: white;

    font-family: Teko;
    font-weight: bold;


    user-select: none;

    z-index: 10;
}

center:nth-of-type(1) { margin-bottom: 50px;} /* specific layout */ 
center:nth-of-type(2) { margin-bottom: 50px;} /* specific layout */
center:nth-of-type(3) { margin-top: 100px;} /* specific layout */
center:nth-of-type(4) { margin-top: 100px;} /* specific layout */

.gamesGrid{ /* specific layout */
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    gap: 20px;

    margin-bottom: 130px;
    z-index: 1;
}

.gameCard{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 350px;
    height: 200px;
    
    border-color: #e02fff;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;

    background-image: linear-gradient(to bottom, #202020,black);

    

    overflow: hidden;
    z-index: 60;
    transition: all 0.1s linear;
}

.gamesGrid > div > img {
    display: inline-block;
    object-fit: cover;
    scale: 0.5;
}

/* specific layout */
.gamesGrid > div:nth-child(1):hover{ background-image: linear-gradient(to bottom, #202020,#b02b2c);}
.gamesGrid > div:nth-child(2):hover{ background-image: linear-gradient(to bottom, #202020,#ff1e00);}
.gamesGrid > div:nth-child(3):hover{ background-image: linear-gradient(to bottom, #202020,#66a3a3);}


.gamesGrid > div:nth-child(4) > img{  scale: 0.1; }
.gamesGrid > div:nth-child(4):hover{  background-image: linear-gradient(to bottom, #202020, #0f1822);}


.gamesGrid > div:nth-child(5) > img{  scale: 0.3; }
.gamesGrid > div:nth-child(5):hover{  background-image: linear-gradient(to bottom, #202020, #FA9C1D);}


.gamesGrid > div:nth-child(6) > img{  scale: 0.3; }
.gamesGrid > div:nth-child(6):hover{ background-image: linear-gradient(to bottom, #202020, #1e88e5);}
/*-*/

/* Shop */
.shopGrid {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    overflow: hidden;

    height: 600px;
    gap:20px;
}


.shopCard {
    border-color: #e02fff;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;

    background-image: linear-gradient(to bottom, #202020,black);

    width: 350px;
    height: 550px;

}

[class*="item"] {
    color: white;

    margin-left: 5%;

    font-family: Teko;
}

.itemImg {
    overflow: hidden;
    border-radius: 20px;

    margin-left: 1.5%;
    margin-top: 2%;

    width: 340px;
    height: 250px;
}

.itemName {
    margin-top: 5%;
    font-size: 3vmin;
    font-weight: bold;
}

.itemCategory {
    font-size: 2.5vmin;
    margin-top: 25%;
}

.itemImg > img {
    border-radius: 20px;

    object-fit: fill;

    width: 100%;
    height: 100%;

    transition: all 0.2s ease-in-out;
}

.itemImg > img:hover {
    scale: 1.2;
}

.price {
    color: #e02fff;
    margin-left: 5%;
    font-weight: bold;
    font-size: 3vmin;
}

/* Shop Filter */

.shopFilter { /* specific layout & needs rename*/
    display: flex;
    justify-content: end;
    gap: 40px;

    margin: auto;

    height: 40px;
    width: 77vw;

}

/* This is the first learn button outside of the containers flow. (the web page) */
.shopButton { /* specific layout */
    margin-left: 11%;
    margin-top: 1%;

    position: relative;

    width: 15vw;
    height: 7vh;

    font-size: 3vmin;
    font-weight: bold;

    border-radius: 20px;

    background-color: #2753e7;
}

.shopButton > a {    font-family: Teko;}
.right {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 100px;

    width: 50px;
    height: 50px;

    font-family: Teko;
    font-size: 5vmin;
    color: rgb(255, 253, 253);

    background-color: #2753e7;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;

    border-radius: 100px;

    font-family: Teko;
    font-size: 5vmin;
    color: rgb(255, 255, 255);

    background-color: #2753e7;
} 

/* News */

.eventGrid { /* specific layout */
    display: flex;
    flex-wrap: wrap;
    align-content: center;

}

.eventCard {
    width: 350px;
    height: 350px;
    overflow: hidden;
    
    margin: auto;

    z-index: 5;
    position: relative;

    border-radius: 20px;
    border-color: #e02fff;
    border-style: solid;
    border-width: 1px;
}

.statement {
    position: absolute;
    z-index: 50;

    max-width: 25vw;
    padding-left: 10px;

    font-weight: bold;
    font-size: 2vmin;
    text-align: start;
    font-family: Teko;

    overflow-wrap: break-word;

    top: 75%;
    color: white;


}

/* Schedule */

.scheduleGrid { /* specific layout */
    display: flex;
    justify-content: center;
    gap: 50px;
}

.scheduleCard{
    display: inline-block;
    color: white;

    background-image: linear-gradient(to bottom, #202020,black);

    border-radius: 20px;
    border-color: #e02fff;
    border-width: 1px;
    border-style: solid;
}

.scheduleCard > .cardHead{
    display: flex;
    gap: 130px;
    justify-content: center;

    width: 400px;

    margin-bottom: 30px;
}

.scheduleCard > .cardHead > .gameTag{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    width: 145px;
    height: 40px;

    border-radius: 20px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
}

.scheduleCard > .cardHead > .times{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;


    background-color: rgb(88, 88, 88);
    width: 145px;
    height: 40px;

    border-radius: 20px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
}

.scheduleCard > .cardBody{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 400px;

    margin-bottom:20px;
}

.scheduleCard > .cardFoot{
    width: 400px;
    word-wrap: break-word;
    text-align: center;
    text-wrap: wrap;
    padding-bottom: 10px;
}

.scheduleCard > .cardFoot > div:nth-of-type(1){ /*.team doesn't work for some reason*/
    display: inline-flex;
    align-items: center;
    background-color: var(--spurple);

    border-radius: 20px;
    height: 30px;
}


.scheduleCard > .cardFoot > div:nth-of-type(2){ margin: 5px;} 

.scheduleCard > .cardFoot > div:nth-of-type(3){
    display: inline-flex;
    align-items: center;
    background-color: rebeccapurple;

    border-radius: 20px;
    height: 30px;
}

#Overwatch{background-color: #FA9C1D;}

/* Sponsors */
.sponsorGrid {
    display: flex;
     justify-content: center;
     gap: 20px;

     margin-top: 50px;
}

/* Community */

.community{
    background-color: var(--secondary);

    color: white;

    height: 313px;
    border-radius: 20px;

    z-index: 9;
}

.community > .comImage{
    width: 400px;
    height: 270px;

    background-image: url("images/happy.png");
    background-size:cover;
    background-repeat: no-repeat;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;


}

.community > .comDesc {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 4vmin;
}

/* Follow us (Footer) */
.footer {
    position: relative;
    display: flex;
    justify-content: center;
    gap:40px;

    margin-top: 30px;


    z-index: 9;
}

.copyright{
    text-align: center; 
    color: white; 
    margin-top: 30px;
}

.footer > a > button{
    border: none;
    border-radius: 50px;

    width: 30px;
    height: 30px;

    background-color: var(--otherblue);
    color: white;

    font-size: 3vmin;
    scale: 1.5;
}

.footer > a > .twitch{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--twitch);
}

.footer > a > .instagram{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--instagram);
}

.footer > a > .twitter{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(39, 34, 34);
}


.footer > a > button > img{
    width: var(--iconsize);
    height: var(--iconsize);

    filter:invert();
 }

 /* Article Card */

.articleCard{
    background-color: var(--secondary);

    color: white;

    height: 313px;
    border-radius: 20px;
}

.articleCard > .articleImg{
    width: 400px;
    height: 270px;

    background-image: url("images/happy.png");
    background-size:cover;
    background-repeat: no-repeat;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.articleCard > .articleDesc {
    width: 400px;

    word-wrap: break-word;
    text-align: center;
    text-wrap: wrap;
}

/* Video Card */

.videoCard{
    background-color: var(--secondary);

    color: white;

    height: 313px;
    border-radius: 20px;
}

.videoCard > .videoImg{
    width: 400px;
    height: 270px;

    background-image: url("images/happy.png");
    background-size:cover;
    background-repeat: no-repeat;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.videoCard > .videoImg > button{

    margin: 47%;

}

.videoCard > .videoDesc {
    width: 400px;

    word-wrap: break-word;
    text-align: center;
    text-wrap: wrap;
}
