/* Navbar */
#navbar {
    height: 60px;
    overflow: hidden;
    flex-direction: column;
    padding-right: 20px;
}

#navbar > img { /* having the margin this size makes the logo look more vertically centered for some reason */
    margin-top: 0.5vh;
    margin-bottom: 20px;
}

#centerbar {
    flex-direction: column;
    margin-left: 50px;
}

#mini {
    display: block;
    position: absolute;
    font-size: 50px;
    height: 20px;
    width: 30px;
    margin-left: 80%;
    margin-bottom: 50px;
}

#special {
    margin-top: 5px;
    margin-right: 20px;
    margin-left: 50px;
}

#mini > a:visited { text-decoration: none; color: white;}
#mini > a { text-decoration: none; color: inherit;}
#mini > a:link { text-decoration: none;}
#mini > a:hover { text-decoration: none;}
#mini > a:active { text-decoration: none;}

.title{
    font-size: xx-large;
}

.gamesGrid > div > img {
    display: inline-block;
    object-fit: cover;
    scale: 0.2;
}

.gamesGrid > div:nth-child(4) > img{  scale: 0.05; }
.gamesGrid > div:nth-child(6) > img{  scale: 0.1; }

.container{
    width: 95%;
    height: 300px;
    overflow: hidden;
    
    margin: auto;
    z-index: 5;
    position: relative;

    border-radius: 20px;
    border-color: var(--spurple);
    border-style: solid;
    border-width: 1px;
}

.introduction { /* Component for media exclusively for the container */
  position: relative;
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  z-index: -1;
  user-select: none;

}

.overlay {
  position: absolute;
  z-index: 20;
  width: 100%;
  height: 100%;

  background-image: linear-gradient(to bottom, transparent 10%, black 90%);

}

.heading {
    position: absolute;
    font-size: 6.7vw;
    color: white;

    font-family: Teko;
    font-weight: bold;

    z-index: 60;

    top: 35%;
    left: 2%;

}

.subheading {
    position: absolute;
    font-size: 4vw;
    color: white;

    font-family: Teko;
    font-weight: 100;

    width: 63vw;

    z-index: 60;

    top: 52%;
    left: 2.5%;
}

[class*=learn] {
    position: absolute;

    font-family: Teko;

    width: 30vw;
    height: 10vw;

    margin-left: 1.5%;
    top: 76%;
    left: 1%;

}

[class*=learn] > a {
    font-size:5vmin;
}